<h4>SDF of Ethanol</h4>
<pre><xml><?xml version="1.0" encoding="utf-8"?>
<string xmlns="http://www.chemspider.com/">
    -OEChem-03051620302D

    4  3  0     0  0  0  0  0  0999 V2000
    3.4575    0.0000    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0
    2.3061   -0.6638    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.1513    0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000   -0.6638    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1  2  1  0  0  0  0
    2  3  1  0  0  0  0
    3  4  1  0  0  0  0
    M  END
    > <MF>
    C_{3}H_{8}O

    > <CSURL>
    http://www.chemspider.com/Chemical-Structure.1004.html

    > <MW>
    60.095

    > <InChI>
    InChI=1S/C3H8O/c1-2-3-4/h4H,2-3H2,1H3

    > <References>
    1494

    > <RSC>
    6298

    > <PubMed>
    5677

    > <InChIKey>
    BDERNNFJNOPAEC-UHFFFAOYSA-N

    > <SMILES>
    CCCO

    > <CSID>
    1004

    > <Data Sources>
    93

    $$$$

    -OEChem-03051620302D

    4  3  0     0  0  0  0  0  0999 V2000
    2.2825   -2.0451    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0
    1.1412   -1.3170    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000   -1.9789    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.1412    0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1  2  1  0  0  0  0
    2  3  1  0  0  0  0
    2  4  1  0  0  0  0
    M  END
    > <MF>
    C_{3}H_{8}O

    > <CSURL>
    http://www.chemspider.com/Chemical-Structure.3644.html

    > <MW>
    60.095

    > <InChI>
    InChI=1S/C3H8O/c1-3(2)4/h3-4H,1-2H3

    > <References>
    3466

    > <RSC>
    9892

    > <PubMed>
    6548

    > <InChIKey>
    KFZMGEQAYNKOFK-UHFFFAOYSA-N

    > <SMILES>
    CC(C)O

    > <CSID>
    3644

    > <Data Sources>
    92

    $$$$

    -OEChem-03051620302D

    4  3  0     0  0  0  0  0  0999 V2000
    3.4575    0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    2.3061   -0.6638    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.1513    0.0000    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000   -0.6638    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1  2  1  0  0  0  0
    2  3  1  0  0  0  0
    3  4  1  0  0  0  0
    M  END
    > <MF>
    C_{3}H_{8}O

    > <CSURL>
    http://www.chemspider.com/Chemical-Structure.10441.html

    > <MW>
    60.095

    > <InChI>
    InChI=1S/C3H8O/c1-3-4-2/h3H2,1-2H3

    > <References>
    54

    > <RSC>
    962

    > <PubMed>
    13

    > <InChIKey>
    XOBKSJJDNFUZPF-UHFFFAOYSA-N

    > <SMILES>
    CCOC

    > <CSID>
    10441

    > <Data Sources>
    31

    $$$$

    -OEChem-03051620302D

    4  3  0     0  0  0  0  0  0999 V2000
    2.4993   -0.6648    0.0000 O   0  0  0  0  0  0  0  0  0  0  0  0
    1.1522   -1.3296    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    1.1522    0.0000    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    0.0000   -0.6648    0.0000 C   0  0  0  0  0  0  0  0  0  0  0  0
    2  3  1  0  0  0  0
    2  4  1  0  0  0  0
    3  4  1  0  0  0  0
    M  END
    > <MF>
    C_{3}H_{8}O

    > <CSURL>
    http://www.chemspider.com/Chemical-Structure.35764268.html

    > <MW>
    60.095

    > <InChI>
    InChI=1S/C3H6.H2O/c1-2-3-1;/h1-3H2;1H2

    > <References>
    1

    > <InChIKey>
    BFWIGFAPOQYXKN-UHFFFAOYSA-N

    > <SMILES>
    C1CC1.O

    > <CSID>
    35764268

    > <Data Sources>
    1

    $$$$
</string>
</xml></pre>